<router-outlet></router-outlet>

<div class="select">
  <div class="choose">
    <a href="#" [routerLink]="['/nav-one']" routerLinkActive="router-link-active" ><button>Nav-One</button></a>
    <a href="#" [routerLink]="['/nav-two']" routerLinkActive="router-link-active" ><button>Nav-Two</button></a>
    <a href="#" [routerLink]="['/nav-three']" routerLinkActive="router-link-active" ><button>Nav-Three</button></a>
  </div>
</div>


<!-- I hope it helps ypu
copy Write by Ahmed Elga3beery
contact me 
https://www.linkedin.com/in/ga3beery/
Thank you -->